@model List<string>
@{
    ViewData["Title"] = "Panel de Ventas";
}

<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
    <link rel="stylesheet" href="~/css/Sindex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub&display=swap" rel="stylesheet">
    <link href="~/css/normalize.css" rel="stylesheet">
</head>
<body>
    
    <form method="post" action="/Home/GetParametersProcedure">
        @foreach (string actual in Model)
        {
            <input type="submit" name="procedureName" value="@actual" />
        }
    </form>


</body>
</html>
